@model MusicRadioInc.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    @* Claves para centrado *
    <div class="col-md-6 col-lg-4"> @* Definimos el tamaño del formulario (mediano en MD, pequeño en LG) *@
    <div class="card shadow-sm">
        <div class="card-header text-center bg-primary text-white">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="UserLoginId" class="control-label"></label>
                    <input asp-for="UserLoginId" class="form-control" />
                    <span asp-validation-for="UserLoginId" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group d-grid gap-2">
                    <input type="submit" value="Acceder" class="btn btn-primary" />
                </div>
                <div class="mt-3 text-center">
                    <p>¿No tienes una cuenta? <a asp-action="Register">Regístrate aquí</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}